@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-cyan bg-opacity-20;
  }

  html,
  body {
    @apply leading-relaxed tracking-wider p-0 m-auto w-11/12 sm:w-8/12 text-base bg-matteBlack font-sans;
  }

  h1,
  li {
    @apply text-milkyWhite;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply text-lightGray;
  }

  a {
    @apply text-cyan;
  }

  a:hover {
    @apply text-opacity-50;
  }

  img {
    @apply block w-full my-8;
  }

  h1 {
    @apply text-3xl text-center font-bold;
  }

  h2 {
    @apply text-2xl my-5 pl-2 pb-2 border-b-2 border-darkGray;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-lg mt-7 mb-3;
  }

  @screen sm {
    h1 {
      @apply text-4xl text-center font-bold;
    }

    h2 {
      @apply text-3xl mt-10 mb-5;
    }

    h3,
    h4,
    h5,
    h6 {
      @apply text-xl;
    }
  }

  p {
    @apply mb-4 sm:leading-8 font-light text-milkyWhite;
  }

  ul,
  ol {
    @apply mb-4 ml-8;
  }

  li {
    @apply mb-2;
  }

  li > p,
  li > ul,
  li > ol {
    @apply mb-0;
  }

  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }

  blockquote {
    @apply p-2 mx-2 my-2 bg-gray-100 mb-4 border-l-4 border-gray-400  rounded-r-lg;
  }
  blockquote > p {
    @apply mb-0;
  }

  pre > code {
    @apply text-sm block rounded-md font-light bg-darkBlack !important;
  }

  pre {
    @apply block max-w-full sm:w-auto my-5;
  }
}
