---
import Layout from '@layouts/Layout.astro';
const allPosts = await Astro.glob('@posts/*.mdx');
---

<Layout title='Kengo Suzuki'>
  <ul class='mt-6 flex w-full flex-col space-y-4'>
    {
      allPosts
        .sort((a, b) => {
          if (new Date(a.frontmatter.publishedAt) > new Date(b.frontmatter.publishedAt)) {
            return -1;
          }
          return 1;
        })
        .map(({ url, frontmatter: { title, publishedAt } }) => (
          <li class='flex space-x-4'>
            <time class='min-w-max pt-1 text-xs text-midGrey'>{publishedAt}</time>
            <a href={url} class='flex w-full text-cream hover:text-cream/75'>
              {title}
            </a>
          </li>
        ))
    }
  </ul>
</Layout>
