---
import Link from './Link.astro';
---

<header class='py-5'>
  <div class='flex items-center'>
    <a href='/' class='text-xl font-semibold text-cream hover:text-cream/75'> Kengo Suzuki </a>
    <nav class='ml-auto mt-[6px] flex items-center space-x-5 text-xs'>
      <Link href='https://github.com/szkkng'>GitHub</Link>
      <Link href='https://kentaro.tools'>kentaro.tools</Link>
    </nav>
  </div>
</header>
