---
---

<header class='py-5'>
  <div class='flex items-center'>
    <a href='/' class='text-xl font-medium text-cream hover:text-cream/75'> Kengo Suzuki </a>
    <!--<nav class='ml-auto mt-[6px] flex items-center space-x-5 text-sm'>-->
    <!--  <a href='https://github.com/szkkng' class='text-midGrey hover:text-cream'>GitHub</a>-->
    <!--  <a href='https://kentaro.tools' class='text-midGrey hover:text-cream'>kentaro</a>-->
    <!--</nav>-->
  </div>
</header>
